In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
import matplotlib.ticker as plticker
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [5]:
world_cup = pd.read_csv('T20Fixture.csv')
results = pd.read_csv('T20Records.csv')
ranks = pd.read_csv('T20Ranking.csv')

In [15]:
ranks

    Rank           Team  Matches  Points  Rating
0      1          India       39   10484     269
1      2        England       39   10269     474
2      3       Pakistan       46   12225     266
3      4    New Zealand       38    9707     255
4      5   South Africa       35    8858     253
5      6      Australia       44   10949     249
6      7    West Indies       45   10578     235
7      8    Afghanistan       17    3951     232
8      9      Sri Lanka       34    7847     231
9     10     Bangladesh       37    8529     231
10    14       Scotland       24    4447     185
11    16        Namibia       25    4435     177

In [16]:
#Removing the record with ties
data=results[results.Winner!='tie']

In [17]:
# Dropping Venue column ,Since Only Australia will host the World Cup so home team advantage not possible for other team
data.drop(columns=['Venue'],inplace=True)

C:\Users\gbala\AppData\Local\Temp\ipykernel_2732\1552488147.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns=['Venue'],inplace=True)

In [18]:
data.drop(columns=['Date'],inplace=True)
data.head()

C:\Users\gbala\AppData\Local\Temp\ipykernel_2732\3253628648.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns=['Date'],inplace=True)

         Team1         Team2                Winner
0   Sri Lanka      Australia             Australia
1       India    West Indies                 India
2       Nepal           Oman                 Nepal
3      Canada    Philippines                Canada
4         UAE        Ireland  United Arab Emirates

In [19]:
#Filtering the records for only teams that will play the world cup
worldcup_teams = [' England ', ' South Africa ', ' Scotland ', ' West Indies ', 
            ' Pakistan ', ' New Zealand ', ' Sri Lanka ', ' Afghanistan ', 
            ' Australia ', ' Bangladesh ', ' India ',' Namibia ']
df_teams_1 = data[data['Team1'].isin(worldcup_teams)]
df_teams_2 = data[data['Team2'].isin(worldcup_teams)]
df_teams = pd.concat((df_teams_1, df_teams_2))
df_teams.drop_duplicates()
df_teams.count()

Team1     779
Team2     779
Winner    779
dtype: int64

In [20]:
#Adding column 'Count': It will record the team which won the most matches from its previous 6 matches (i.e. if India have won 4 matches from its previous 6 matches and Pakistan have won 3 matches than count which select India)
# and 'Rank': The team which is having higher rank will be named in this column
df_teams['Count']=0
df_teams['Rank']=0
df_team= df_teams.reset_index(drop=True) 
df_team

              Team1          Team2        Winner  Count  Rank
0        Sri Lanka       Australia     Australia      0     0
1            India     West Indies         India      0     0
2      West Indies           India         India      0     0
3        Sri Lanka       Australia     Australia      0     0
4        Australia       Sri Lanka     Australia      0     0
..              ...            ...           ...    ...   ...
774   South Africa       Australia  South Africa      0     0
775      Australia    South Africa     Australia      0     0
776   South Africa     New Zealand   New Zealand      0     0
777        England       Australia       England      0     0
778    New Zealand       Australia     Australia      0     0

[779 rows x 5 columns]

In [21]:
#filling the count and rank column
for i in range(700):
    dt1=df_team['Team1'].iloc[i]
    dt2=df_team['Team2'].iloc[i]
    c1=0
    c2=0
    w1=0
    w2=0
    for j in range(i+1,i+50):
        if ((df_team['Team1'].iloc[j]==dt1) or (df_team['Team2'].iloc[j]==dt1.rstrip())) and c1<6:
            if df_team['Winner'].iloc[j]==dt1.strip():
                w1=w1+1
                c1=c1+1
            else:
                c1=c1+1
    
    for j in range(i+1,i+50):
        if ((df_team['Team1'].iloc[j]==(dt2+ ' ')) or (df_team['Team2'].iloc[j]==dt2)) and c2<6:
            if df_team['Winner'].iloc[j]==dt2.strip():
                w2=w2+1
                c2=c2+1
            else:
                c2=c2+1
    if(w2>w1):
        df_team['Count'].iloc[i]=dt2
    else:
        df_team['Count'].iloc[i]=dt1
    r1=0
    r2=0
    for k in range(12):
        if (dt1.strip()==ranks['Team'].iloc[k]):
            r1=ranks['Rank'].iloc[k]
    for k in range(12):
        if (dt2.strip()==ranks['Team'].iloc[k]):
            r2=ranks['Rank'].iloc[k]
    if(r2>r1):
        df_team['Rank'].iloc[i]=dt1
    else:
        df_team['Rank'].iloc[i]=dt2

C:\Users\gbala\AppData\Local\Temp\ipykernel_2732\1126925117.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_team['Count'].iloc[i]=dt2
C:\Users\gbala\AppData\Local\Temp\ipykernel_2732\1126925117.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_team['Rank'].iloc[i]=dt1

In [22]:
data=df_team.iloc[0:700]
data

             Team1          Team2        Winner          Count           Rank
0       Sri Lanka       Australia     Australia      Australia     Sri Lanka
1           India     West Indies         India         India          India
2     West Indies           India         India          India          India
3       Sri Lanka       Australia     Australia      Australia     Sri Lanka
4       Australia       Sri Lanka     Australia     Australia       Sri Lanka
..             ...            ...           ...            ...            ...
695     Sri Lanka     West Indies     Sri Lanka     Sri Lanka      Sri Lanka
696      Pakistan    South Africa      Pakistan   South Africa   South Africa
697   New Zealand       Sri Lanka     Sri Lanka      Sri Lanka      Sri Lanka
698         India    South Africa  South Africa   South Africa   South Africa
699       England     West Indies   West Indies       England        England

[700 rows x 5 columns]

In [23]:
#Assigning the binary number to data , team1: 0 and team2: 1
for i in range(700):
    dt1=data['Team1'].iloc[i]
    dt2=data['Team2'].iloc[i]
    data['Team1'].iloc[i]=0
    data['Team2'].iloc[i]=1
    if data['Winner'].iloc[i]==dt1.strip():
        data['Winner'].iloc[i]=data['Team1'].iloc[i]
    else:
        data['Winner'].iloc[i]=data['Team2'].iloc[i]
    
    if data['Count'].iloc[i]==dt1:
        data['Count'].iloc[i]=data['Team1'].iloc[i]
    else:
        data['Count'].iloc[i]=data['Team2'].iloc[i]
    
    if data['Rank'].iloc[i]==dt1:
        data['Rank'].iloc[i]=data['Team1'].iloc[i]
    else:
        data['Rank'].iloc[i]=data['Team2'].iloc[i]

C:\Users\gbala\AppData\Local\Temp\ipykernel_2732\3606297348.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Team1'].iloc[i]=0
C:\Users\gbala\AppData\Local\Temp\ipykernel_2732\3606297348.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Team2'].iloc[i]=1
C:\Users\gbala\AppData\Local\Temp\ipykernel_2732\3606297348.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Winner'].iloc[i]=data['Team2'].iloc[i]
C:\Users\gbala\AppData\Local\Temp\ipykernel_2732\3606297348.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Count'].iloc[i]=data['Team2'].iloc[i]
C:\Users\gbala\AppData\Local\Temp\ipykernel_2732\3606297348.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Rank'].iloc[i]=data['Team1'].iloc[i]
C:\Users\gbala\AppData\Local\Temp\ipykernel_2732\3606297348.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Winner'].iloc[i]=data['Team1'].iloc[i]
C:\Users\gbala\AppData\Local\Temp\ipykernel_2732\3606297348.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Count'].iloc[i]=data['Team1'].iloc[i]
C:\Users\gbala\AppData\Local\Temp\ipykernel_2732\3606297348.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Rank'].iloc[i]=data['Team2'].iloc[i]

In [24]:
data

    Team1 Team2 Winner Count Rank
0       0     1      1     1    0
1       0     1      0     0    0
2       0     1      1     1    1
3       0     1      1     1    0
4       0     1      0     0    1
..    ...   ...    ...   ...  ...
695     0     1      0     0    0
696     0     1      0     1    1
697     0     1      1     1    1
698     0     1      1     1    1
699     0     1      1     0    0

[700 rows x 5 columns]

In [26]:
#importing the fixture file of upcoming world cup
fixtures = pd.read_csv('T20Fixture.csv')
fixtures

,Date,Column1,Team 1,Team 2,Venue,Result
0,22nd October 2022,1,Australia,New Zealand,Sydney Cricket Ground,NaN
1,22nd October 2022,1,England,Afghanistan,Perth Stadium,NaN
2,23rd October 2022,1,Group A Winner,Group B Runner Up,Bellerive Oval,NaN
3,23rd October 2022,1,India,Pakistan,Melbourne Cricket Ground,NaN
4,24th October 2022,1,Bangladesh,Group A Runner up,Bellerive Oval,NaN
5,24th October 2022,1,South Africa,Group B Winner,Bellerive Oval,NaN
6,25th October 2022,1,Australia,Group A Winner,Perth Stadium,NaN
7,26th October 2022,1,England,Group B Runner UP,Melbourne Cricket Ground,NaN
8,26th October 2022,1,New Zealand,Afghanistan,Melbourne Cricket Ground,NaN
9,27th October 2022,1,South Africa,Bangladesh,Sydney Cricket Ground,NaN
10,27th October 2022,1,India,Group A Runner Up,Sydney Cricket Ground,NaN
11,27th October 2022,1,Pakistan,Group B Runner Up,Perth Stadium,NaN
12,28th October 2022,1,Afghanistan,Group B Runner UP,Melbourne Cricket Ground,NaN
13,28th October 2022,1,England,Australia,Melbourne Cricket Ground,NaN
14,29th October 2022,1,New Zealand,Group A Winner,Sydney Cricket Ground,NaN
15,30th October 2022,1,Bangladesh,Group B Winner,The Gabba,NaN
16,30th October 2022,1,Pakistan,Group A Runner Up,Perth Stadium,NaN
17,30th October 2022,1,India,South Africa,Perth Stadium,NaN
18,31st October 2022,1,Australia,Group B Runner Up,The Gabba,NaN
19,1st November 2022,1,Afghanistan,Group A winner,The Gabba,NaN
20,1st November 2022,1,England,New Zealand,The Gabba,NaN
21,2nd November 2022,1,Group B winner,Group A Runner Up,Adelaide Oval,NaN
22,2nd November 2022,1,India,Bangladesh,Adelaide Oval,NaN
23,3rd November 2022,1,Pakistan,South Africa,Sydney Cricket Ground,NaN
24,4th November 2022,1,New Zealand,Group B Runner Up,Adelaide Oval,NaN
25,4th November 2022,1,Australia,Afghanistan,Adelaide Oval,NaN
26,5th November 2022,1,England,Group A Runner Up,Sydney Cricket Ground,NaN
27,6th November 2022,1,South Africa,Group A Runner Up,Adelaide Oval,NaN
28,6th November 2022,1,Pakistan,Bangladesh,Adelaide Oval,NaN
29,6th November 2022,1,India,Group B Winner,Melbourne Cricket Ground,NaN
30,9th November 2022,SEMI FINAL 1,To be Announced,To be Announced,Sydney Cricket Ground,NaN
31,10th November 2022,SEMI FINAL 2,To be Announced,To be Announced,Adelaide Oval,NaN
32,13th November 2022,FINAL,To be Announced,To be Announced,Melbourne Cricket Ground,NaN

In [27]:
#selecting the record till League matches
fixtures=fixtures.iloc[0:30]
fixtures

,Date,Column1,Team 1,Team 2,Venue,Result
0,22nd October 2022,1,Australia,New Zealand,Sydney Cricket Ground,NaN
1,22nd October 2022,1,England,Afghanistan,Perth Stadium,NaN
2,23rd October 2022,1,Group A Winner,Group B Runner Up,Bellerive Oval,NaN
3,23rd October 2022,1,India,Pakistan,Melbourne Cricket Ground,NaN
4,24th October 2022,1,Bangladesh,Group A Runner up,Bellerive Oval,NaN
5,24th October 2022,1,South Africa,Group B Winner,Bellerive Oval,NaN
6,25th October 2022,1,Australia,Group A Winner,Perth Stadium,NaN
7,26th October 2022,1,England,Group B Runner UP,Melbourne Cricket Ground,NaN
8,26th October 2022,1,New Zealand,Afghanistan,Melbourne Cricket Ground,NaN
9,27th October 2022,1,South Africa,Bangladesh,Sydney Cricket Ground,NaN
10,27th October 2022,1,India,Group A Runner Up,Sydney Cricket Ground,NaN
11,27th October 2022,1,Pakistan,Group B Runner Up,Perth Stadium,NaN
12,28th October 2022,1,Afghanistan,Group B Runner UP,Melbourne Cricket Ground,NaN
13,28th October 2022,1,England,Australia,Melbourne Cricket Ground,NaN
14,29th October 2022,1,New Zealand,Group A Winner,Sydney Cricket Ground,NaN
15,30th October 2022,1,Bangladesh,Group B Winner,The Gabba,NaN
16,30th October 2022,1,Pakistan,Group A Runner Up,Perth Stadium,NaN
17,30th October 2022,1,India,South Africa,Perth Stadium,NaN
18,31st October 2022,1,Australia,Group B Runner Up,The Gabba,NaN
19,1st November 2022,1,Afghanistan,Group A winner,The Gabba,NaN
20,1st November 2022,1,England,New Zealand,The Gabba,NaN
21,2nd November 2022,1,Group B winner,Group A Runner Up,Adelaide Oval,NaN
22,2nd November 2022,1,India,Bangladesh,Adelaide Oval,NaN
23,3rd November 2022,1,Pakistan,South Africa,Sydney Cricket Ground,NaN
24,4th November 2022,1,New Zealand,Group B Runner Up,Adelaide Oval,NaN
25,4th November 2022,1,Australia,Afghanistan,Adelaide Oval,NaN
26,5th November 2022,1,England,Group A Runner Up,Sydney Cricket Ground,NaN
27,6th November 2022,1,South Africa,Group A Runner Up,Adelaide Oval,NaN
28,6th November 2022,1,Pakistan,Bangladesh,Adelaide Oval,NaN
29,6th November 2022,1,India,Group B Winner,Melbourne Cricket Ground,NaN

In [28]:
#Dropping the Date,Column1 and Venue columns
fixtures.drop(columns=[' Date','Column1','Venue'],inplace=True)

C:\Users\gbala\AppData\Local\Temp\ipykernel_2732\3887242542.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fixtures.drop(columns=[' Date','Column1','Venue'],inplace=True)

In [29]:
#Seperating the output i.e. Winner column for testing model
y=data["Winner"]
y = y.astype(float, errors = 'raise')

In [30]:
data

    Team1 Team2 Winner Count Rank
0       0     1      1     1    0
1       0     1      0     0    0
2       0     1      1     1    1
3       0     1      1     1    0
4       0     1      0     0    1
..    ...   ...    ...   ...  ...
695     0     1      0     0    0
696     0     1      0     1    1
697     0     1      1     1    1
698     0     1      1     1    1
699     0     1      1     0    0

[700 rows x 5 columns]

In [31]:
#dropping the target column and creating features file
X=data.drop('Winner',axis=1)
X['Team1'] = X.Team1.astype(float)
X['Team2'] = X.Team2.astype(float)
X['Count'] = X.Count.astype(float)
X['Rank'] = X.Rank.astype(float)

In [32]:
#importing libraries for SVM(Support Vector Machine) model
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2)

In [33]:
model = SVC(kernel = 'linear', C = 1)

In [34]:
model.fit(X_train, y_train)

SVC(C=1, kernel='linear')

In [35]:
svm_pred = model.predict(X_test)

In [36]:
#Accuracy score
accuracy = model.score(X_test, y_test)
accuracy

0.5428571428571428

In [37]:
U=fixtures.drop('Result',axis=1)
U['Count']=0
U['Rank']=0

In [38]:
U

             Team 1              Team 2  Count  Rank
0        Australia          New Zealand      0     0
1          England          Afghanistan      0     0
2   Group A Winner    Group B Runner Up      0     0
3            India             Pakistan      0     0
4       Bangladesh    Group A Runner up      0     0
5     South Africa       Group B Winner      0     0
6        Australia       Group A Winner      0     0
7          England    Group B Runner UP      0     0
8      New Zealand          Afghanistan      0     0
9     South Africa           Bangladesh      0     0
10           India    Group A Runner Up      0     0
11        Pakistan    Group B Runner Up      0     0
12     Afghanistan    Group B Runner UP      0     0
13         England            Australia      0     0
14     New Zealand       Group A Winner      0     0
15      Bangladesh       Group B Winner      0     0
16        Pakistan    Group A Runner Up      0     0
17           India         South Africa      0     0
18       Australia    Group B Runner Up      0     0
19     Afghanistan       Group A winner      0     0
20         England          New Zealand      0     0
21  Group B winner    Group A Runner Up      0     0
22           India           Bangladesh      0     0
23        Pakistan         South Africa      0     0
24     New Zealand    Group B Runner Up      0     0
25       Australia          Afghanistan      0     0
26         England    Group A Runner Up      0     0
27    South Africa    Group A Runner Up      0     0
28        Pakistan           Bangladesh      0     0
29           India       Group B Winner      0     0

In [39]:
#We have assumped from recent performance of teams in qualifying matches that Group A winner : Sri Lanka
#Group A Runner Up : Namibia , Group B winner : West Indies and Group B runner Up : Scotland
for i in range(30):
    if (U['Team_1'].iloc[i].strip()=="Group A Winner"):
        U['Team_1'].iloc[i]="Sri Lanka "
    elif (U['Team_1'].iloc[i].strip()=="Group B Winner"):
        U['Team_1'].iloc[i]="West Indies "
    elif (U['Team_1'].iloc[i].strip()=="Group A Runner Up"):
        U['Team_1'].iloc[i]="Namibia "
    elif (U['Team_1'].iloc[i].strip()=="Group B Runner Up"):
        U['Team_1'].iloc[i]="Scotland "
    else:
        continue
for i in range(30):
    if (U['Team_2'].iloc[i].strip()=="Group A Winner"):
        U['Team_2'].iloc[i]="Sri Lanka "
    elif (U['Team_2'].iloc[i].strip()=="Group B Winner"):
        U['Team_2'].iloc[i]="West Indies "
    elif (U['Team_2'].iloc[i].strip()=="Group A Runner Up"):
        U['Team_2'].iloc[i]="Namibia "
    elif (U['Team_2'].iloc[i].strip()=="Group B Runner Up"):
        U['Team_2'].iloc[i]="Scotland "
    else:
        continue   
for i in range(30):
    dt1=U['Team_1'].iloc[i]
    dt2=U['Team_2'].iloc[i]
    r1=0
    r2=0
    for k in range(12):
        if (dt1.strip()==ranks['Team'].iloc[k]):
            r1=ranks['Rank'].iloc[k]
        
    for k in range(12):
        if (dt2.strip()==ranks['Team'].iloc[k]):
            r2=ranks['Rank'].iloc[k]
        
    if(r2>r1):
        U['Rank'].iloc[i]=dt1
        U['Count'].iloc[i]=dt1
        
    else:
        U['Rank'].iloc[i]=dt2
        U['Count'].iloc[i]=dt2

KeyError: 'Team_1'

In [ ]:
for i in range(30):
    dt1=U['Team_1'].iloc[i]
    dt2=U['Team_2'].iloc[i]
    U['Team_1'].iloc[i]=0
    U['Team_2'].iloc[i]=1
    if U['Count'].iloc[i]==dt1:
        U['Count'].iloc[i]=U['Team_1'].iloc[i]
    else:
        U['Count'].iloc[i]=U['Team_2'].iloc[i]
    
    if U['Rank'].iloc[i]==dt1:
        U['Rank'].iloc[i]=U['Team_1'].iloc[i]
    else:
        U['Rank'].iloc[i]=U['Team_2'].iloc[i]